@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
}
:root{
    --background-color: rgb(56, 138, 252);
    --color: #fff;
}
#preloader{
    position: fixed;
    height: 100vh;
    width: 100%;
    background: url("preloader.gif") no-repeat center var(--color);
    z-index: 10;
}
::selection{
    background-color: var(--background-color);
    color: var(--color);
}
/* navigation-bar*/
.header{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav-container{
    display: flex;
    background: var(--background-color);
    align-items: center;
    justify-content: center;
    padding: 4px 0;
}
.nav-container img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.nav-container ul{
    display: flex;
    list-style: none;
}
.nav-container ul li{
    margin: 0 25px;
    padding: 10px;
}
.nav-container ul li a{
    text-decoration: none;
    color: var(--color);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 0 4px;
}
.nav-container ul li a:hover{
    border-bottom: solid white;
}
.toggle{
    position: fixed;
    right: 25px;
    top: 17px;
    display: none;
}
#menu-bar{
    color: white;
    font-size: 30px;
    float: right;
    cursor: pointer;
}
/* Heading */
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
.welcome h2{
    margin-bottom: 10px;
}
.welcome p{
    font-size: 16px;
    font-weight: normal;
}
/* imgage desiging  */
.m-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container{
    position: relative;
    height: 430px;
    width: 250px;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    margin: 30px;
    transition: .4s;
}
.container:hover{
    box-shadow: 2px 2px 8px 2px rgba(0,0,0,.5);
    transition: .4s;
}
.img-container{
    height: 100%;
    width: 100%;
}
.img-container img{
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    transition: .4s;
}
.container:hover img{
    transform: scale(1.1);     
    filter: grayscale(0%);
    transition: .4s;
}
.b-box{
    position: absolute;
    bottom: -120px;
    transform: translateY(35px);
    color: 2px rgb(197, 206, 219);
    backdrop-filter: blur(4px);
    transition: .4s;
    padding-bottom: 20px;
    color: slateblue;
}
.container:hover .b-box{
    bottom: 35px;
    transition: .4s;
}
.heading{
    text-align: center;
    position: absolute;
    bottom: -140px;
    flex-direction: column;
    width: 100%;
    backdrop-filter: blur(3px);
    transition: .4s;

}
.container:hover .heading{
    bottom: 0;
    transition: .4s;
}
.icons{
    margin-left: 30px;
    margin-top: 12px;
}
.icons ul{
    display: flex;
}
.icons ul li{
    list-style: none;
}
.icons ul li a{
    padding: 10px 16px;
    font-size: 25px;
    margin: 0 7px;
}
.icons ul li a i{
    color: slateblue;
}
/* footer */
.f-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-box ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.f-box ul li{
    margin: 10px 24px;
    text-transform: uppercase;
    font-size: 17px;
}
.f-box ul li a{
    color: var(--color);
}
.footer{
    background: rgba(0,0,0,.8);
}
.f-box{
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 30px;
}
.f-box span{
    color: var(--background-color);
}
.f-box a{
    text-decoration: none;
}
.f-box:nth-child(2){
    background: rgb(0,0,0);
}
.f-box a:hover{
    border-bottom: solid white;
}
/* media query for footer */
@media(max-width:657px){
    .f-box{
        font-size: 20px;
    }
}
@media(max-width:438px){
    .f-box{
        font-size: 15px;
    }
}
@media(max-width:307px){
    .f-box{
        font-size: 10px;
    }
}
/* media screen for  menu bar*/
@media(max-width:730px){
    .toggle{
        display: block;
    }
    
    .nav-container img{
        margin-left: -180px;
    }
    .n-list ul{
        position: fixed;
        height: 100vh;
        background-color: var(--background-color);
        display: flex;
        flex-direction: column;
        top: 72px;
        right: 0;
        z-index: 1;
        margin-right: 0;
        padding-top: 20px;
        display: none;
    }
    .n-list ul li{
        margin-top: 40px;
    }
}